{% extends 'base.html.twig' %}

{% block head %}
    <link href="/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %}Hello ProduitController!{% endblock %}

{% form_theme form _self %}

{% block body %}

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Ajout Produit</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">General</h5>

                                    {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label for="product-name">Nom<span class="text-danger">*</span></label>
                                                {{ form_widget(form.nom) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label for="product-reference">Marque <span class="text-danger">*</span></label>
                                                {{ form_widget(form.marque) }}
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label for="product-category">Categories <span class="text-danger">*</span></label>
                                                {{ form_widget(form.categorie,{ 'attr' : { 'class' :'form-control'}}) }}
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label for="product-price">Prix <span class="text-danger">*</span></label>
                                                {{ form_widget(form.prix) }}
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <div class="radio form-check-inline">
                                                    {{ form_widget(form.statue,{ 'attr' : { 'value':'option1', 'name':'radioInline' ,'checked':""},'id':"inlineRadio1"}) }}
                                                </div><br/>
                                                <div class="radio form-check-inline">
                                                    <input type="radio" id="inlineRadio2" value="option2" name="produit[statue]">
                                                    <label for="inlineRadio2"> Desactiver </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="product-description">Description <span class="text-danger">*</span></label>
                                        {{ form_widget(form.description,{ 'attr' : { 'class' :'form-control', "rows" :"5", "id" : "product-description","placeholder" : "Description du produit"},'id':'product-description'}) }}
                                    </div>
                                    
                                    <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">Images</h5>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="text-center mb-3">
                                                <button type="button" class="btn w-sm btn-light waves-effect">Cancel</button>
                                                <button type="submit" class="btn w-sm btn-success waves-effect waves-light">Save</button>
                                                <button type="button" class="btn w-sm btn-danger waves-effect waves-light">Delete</button>
                                            </div>
                                        </div> <!-- end col -->
                                    </div>
                                    {{ form_end(form) }}

                                </div> <!-- end card-box -->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                        
                        <!-- end row -->


                        <!-- file preview template -->
                        <div class="d-none" id="uploadPreviewTemplate">
                            <div class="card mt-1 mb-0 shadow-none border">
                                <div class="p-2">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                                        </div>
                                        <div class="col pl-0">
                                            <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                                            <p class="mb-0" data-dz-size></p>
                                        </div>
                                        <div class="col-auto">
                                            <!-- Button -->
                                            <a href="#" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                                <i class="dripicons-cross"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                2015 - <script>document.write(new Date().getFullYear())</script> &copy; UBold theme by <a href="#">Coderthemes</a> 
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript:void(0);">About Us</a>
                                    <a href="javascript:void(0);">Help</a>
                                    <a href="javascript:void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
{% endblock %}

{% block _produit_images_widget %}
    {{ form_widget(form) }}
        <div class="form-group">
            <button type="button" class="btn w-sm btn-light waves-effect waves-light" id="add-image">Ajouter image</button>
        </div>
{% endblock %}
                                    
{% block _produit_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _produit_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-lg-3">
                <label for="product-description">Image JPG<span class="text-danger">*</span></label>
                {{ form_widget(form.imagejpg) }}
            </div>
            <div class="col-lg-4">
                <label for="product-description">Image SVG <span class="text-danger">*</span></label>
                {{ form_widget(form.imagesvg) }}
            </div>
            <div class="col-lg-3">
                <label for="product-description">Taxe couleurs<span class="text-danger">*</span></label>
                {{ form_widget(form.taxeCouleur) }}
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn w-sm btn-danger waves-effect waves-light" data-action="delete" data-target="#block_{{ id }}">X</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

        <!-- App js -->
        <script src="../assets/js/vendor.min.js"></script>

        <!-- Summernote js -->
        <script src="../assets/libs/summernote/summernote-bs4.min.js"></script>
        <!-- Select2 js-->
        <script src="../assets/libs/select2/js/select2.min.js"></script>
        <!-- Dropzone file uploads-->
        <script src="../assets/libs/dropzone/min/dropzone.min.js"></script>

        <!-- Init js-->
        <script src="../assets/js/pages/form-fileuploads.init.js"></script>

        <!-- Init js -->
        <script src="../assets/js/pages/add-product.init.js"></script>

        
    <script>
        $('#add-image').click(function(){
            const index = $('#produit_images div.form-group').length;

            const tmp = $('#produit_images').data('prototype').replace(/_name_/g,index);
            $('#produit_images').append(tmp);

            handleDeleteButton();
        });

        function handleDeleteButton(){
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            })
        }
        handleDeleteButton();
    </script>
{% endblock %}